@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
  font-family: Poppins;
}



.habitList{
  display: flex;
  width: 50%;
}


#check{
  cursor: pointer;
  font-size: large;
}

#streak{
  font-size: large;
  font-weight: bold;
  padding: 4px 8px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 8px
}

.header{
  display: flex;
  align-items: center;
  gap: 10px;
}
span{
  background-color: black;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.habitCard{
  display: flex;
  padding: 5px 10px;
  width: 100%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.habitCard.done{
  background-color: black;
  color: white;
}

.habitCard.done #streak{
  background-color: white;
  color: black;
}

/* .habitCard .not-done{

} */
.habitCard #right{
  display:  flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
}

#bg{
  z-index: 5;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal{
  color: white;
  padding: 15px;
  background-color: black;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  z-index: 10;
}