@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    font-family: 'Inter';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.container{
    display: flex;
    gap: 20px;
    width: 300px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #212121;
}

img{
    width: 150px;
    height: 150px;
}
input{
    border: none;
    outline: none;
    background-color: white;
    padding: 6px 12px;
    border-radius: 10px;
}

button{
    border: none;
    outline: none;
    background-color: #646cff;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}